.contact-fillter {
  margin-top: 16px;
  .MuiStack-root {
    @media (max-width: 992px) {
      flex-wrap: wrap;
      gap: 12px;
      justify-content: flex-end;
    }
    .fillter-inner-wrap {
      .search-field {
        .MuiFormControl-root {
          .MuiInputBase-adornedStart {
            background-color: #fff;
            input {
              padding-left: 4px;
            }
          }
        }
      }
      label {
        margin-bottom: 8px;
      }
      .btn-group {
        margin-left: 16px;
        @media (max-width: 850px) {
          margin: 16px 0 0 16px;
        }
        .btn {
          min-width: 75px !important;
          @media (max-width: 480px) {
            margin: 0 !important;
          }
        }
      }
    }
    .MuiStack-root {
      @media (max-width: 992px) {
        margin-left: 0px !important;
      }
      @media (max-width: 480px) {
        flex-wrap: initial;
      }
      @media (max-width: 374px) {
        flex-wrap: wrap;
      }
      .add-btn {
        min-width: 82px !important;
        @media (max-width: 480px) {
          min-width: 72px !important;
          width: 72px !important;
        }
      }
      .upld-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        font-size: 14px;
        font-weight: 600;

        min-width: 116px !important;
        height: 50px;
        position: relative;
        @media (max-width: 480px) {
          min-width: 108px !important;
          margin: 0 !important;
        }
        @media (max-width: 374px) {
          min-width: 100px !important;
          width: 100px;
        }
        .upload {
          position: absolute;
          top: 0;
          right: 0;
          margin: 0;
          padding: 0;
          font-size: 20px;
          cursor: pointer !important;
          opacity: 0;
          filter: alpha(opacity=0);
          width: 100%;
          height: 100%;
        }

        input[type='file'] {
          height: 50px;
          cursor: pointer;
          box-sizing: border-box;
          padding: 0;
        }
      }
      .dwnload-btn {
        min-width: 105px !important;
        @media (max-width: 480px) {
          min-width: 108px !important;
          margin: 0 !important;
        }
        @media (max-width: 374px) {
          min-width: 110px !important;
          width: 100px;
        }
      }
    }
  }
}

.contact-list-table {
  margin-top: 24px;
  border-radius: 10px;
  table {
    thead {
      tr {
        th {
          background: #999999;
          background-color: #f9f9f9 !important ;
          font-size: 12px !important;
          padding: 4px 16px !important;
          color: #1d1d24 !important;
        }
      }
    }
    tbody {
      tr {
        cursor: pointer;
        th,
        td {
          padding: 8px 16px !important;
          font-size: 14px;
          background-color: #fff;
          span {
            margin-top: 0;
            font-size: 11px;
            font-weight: 400;
          }
        }
        &:hover {
          th,
          td {
            background-color: #dfeaff59;
            color: #2871ff;
          }
        }
        th.field-name {
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}

.modal-dailog-wrapper.add-contact-modal {
  .MuiPaper-root {
    min-width: 870px;
    @media (max-width: 991px) {
      min-width: 95%;
    }
    .modal-dailog-title {
      padding: 32px 32px 0px 32px;
      @media (max-width: 767px) {
        padding: 32px 24px 0px 24px;
      }
    }
    .modal-dailog-content {
      overflow: initial;
      padding: 12px 32px 16px 32px;
      @media (max-width: 767px) {
        padding: 12px 24px 16px 24px;
      }
      .mediatab-wrap {
        .MuiTabsList-root {
          margin-bottom: 8px;
          button {
            @media (max-width: 767px) {
              width: initial !important;
            }
            @media (max-width: 492px) {
              width: 100% !important;
            }
          }
          @media (max-width: 991px) {
            border-radius: 9px;
          }
        }
        .MuiTabPanel-root {
          overflow: auto;
          height: calc(100vh - 310px);
          padding-right: 6px;
        }
      }
    }
    .MuiDialogActions-root.MuiDialogActions-spacing {
      padding: 8px 42px 32px 42px;
      @media (max-width: 767px) {
        padding: 8px 24px 32px 24px;
      }
      .outline-btn {
        @media (max-width: 480px) {
          min-width: 50% !important;
        }
      }
      .primary-btn {
        @media (max-width: 480px) {
          min-width: 65% !important;
        }
      }
    }
  }
  .MuiFormControl-root {
    width: 100%;
  }
}

ul.MuiList-root {
  li.MuiMenuItem-root {
    padding: 4px 12px !important;
    span.MuiButtonBase-root {
      padding: 2px 8px !important;
    }
  }
}
.personalinfo-tab {
  .add-location-btn {
    font-size: 13px;
    width: 100%;
    min-height: 47px;
  }
  .label.empty-label {
    @media (max-width: 991px) {
      display: none;
    }
  }
  .bed-bath-radio-btn-grp {
    label {
      margin-right: 0px;
      position: relative;
      span.MuiRadio-root {
        padding: 8px !important;
        svg {
          display: none;
        }
        &::before {
          content: '';
          width: 30px;
          height: 30px;
          background-color: #dfe8fa;
          border-radius: 4px;
        }
      }

      span.MuiTypography-root {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 500;
        color: #2871ff;
        font-size: 12px;
      }
    }
    label.btn-selected {
      span.MuiRadio-root {
        &::before {
          background-color: #2871ff;
        }
      }
      span.MuiTypography-root {
        color: #fff;
      }
    }
  }
}

.add-contact-tab {
  position: relative;
  .notes-tab {
    margin-top: 24px;
    .add-note-btn-wrapper {
      position: absolute;
      right: 0;
      top: 15px;
      @media (max-width: 580px) {
        position: relative;
        top: -15px;
      }
      .table-wrapper {
        border: none !important;
      }
    }
  }
}
.table-wrapper.note-list-table {
  position: relative;
  min-height: 185px;
  border-radius: 10px;
  table {
    thead {
      tr {
        th {
          border-right: 1px solid #e7e7e7 !important;
          background: #999999;
          background-color: #f9f9f9 !important ;
          font-size: 12px !important;
          padding: 4px 16px !important;
        }
      }
    }
    tbody {
      background-color: #fff;
      tr {
        td {
          border-right: 1px solid #e7e7e7 !important;
        }
      }
      th {
        border-right: 1px solid #e7e7e7 !important;
      }
    }
  }
}
.table-wrapper.note-list-table.document-list-table {
  min-height: 235px;
  .table-empty-state {
    padding: 0;
    .custome-dropzone {
      padding: 0;
      .MuiBox-root {
        width: 100%;
        .dropzone {
          height: 200px;
          background-color: #fff;
          border: none;
          svg {
            color: #cdcdcd;
            width: 45px;
            height: 45px;
          }
          p {
            color: #999999;
            font-size: 15px;
          }
        }
      }
      .upload-doc-info {
        margin: 0;
      }
    }
  }
}
.add-note-modal {
  .MuiPopover-paper {
    margin-top: 8px;
    overflow: visible;
    @media (max-width: 580px) {
      width: 85%;
    }
    &::before {
      // content: '';
      // position: absolute;
      // top: -12px;
      // left: 10px;
      // pointer-events: auto;
      // border: 15px solid;
      // border-color: transparent transparent #fff transparent;
      // border-width: 0 15px 15px 15px;
    }
    .add-note-modal-inner {
      background-color: #fff;
      width: 420px;
      padding: 24px;
      position: relative;
      overflow: hidden;
      border-radius: 10px;
      @media (max-width: 580px) {
        width: 100%;
      }
      .primary-btn-small {
        margin-top: 8px;
      }
    }
  }
}

// Contact Details Styles //

.contact-detail-wrapper {
  .contact-detail-title {
    .MuiChip-root.green {
      font-size: 12px;
      height: 32px;
      font-weight: 500;
      background-color: #c2eade;
      color: #009a6c;
      text-transform: capitalize;
    }
    .chip {
      font-size: 12px;
      height: 32px;
      font-weight: 500;
      border-radius: 23px;
      padding: 2px 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: capitalize;
    }
    .chip.green {
      background-color: #c2eade;
      color: #009a6c;
      &:hover {
        background-color: #c2eade;
      }
    }
    .chip.yellow {
      background-color: #ffefc5 !important;
      color: #d68000;
    }
  }
  .personal-details {
    label {
      margin: 0;
    }
    span {
      font-size: 12px;
      font-weight: 400;
      color: #999999;
    }
  }
  .other-detail-tab {
    .tab-content-wrapper {
      .main-title {
        margin: 12px 0 8px 0;
      }
      .icon-small-btn.green-btn {
        min-width: initial !important;
        width: 50px;
        height: 50px;
      }
      .green-link-btn {
        color: #007653 !important;
        font-weight: 600;
      }
      .red-link-btn {
        color: #d60000 !important;
        font-weight: 600;
      }
      a {
        color: #292929 !important;
      }
    }
    > .MuiTabPanel-root {
      height: unset;
      padding: 12px 0;
    }
    .tab-content-wrapper {
      .add-note-btn-wrapper {
        .table-wrapper {
          border: none;
        }
      }
    }
    .document-tab {
      .add-media-btn-wrapper.add-note-btn-wrapper {
        position: relative;
        top: 0px;
      }
    }
  }
}

// Contact Details Styles END //
