.stepper-wrap {
  @media (max-width: 900px) {
    padding: 20px 8px;
  }
  .MuiStepper-horizontal {
    justify-content: center;
    .MuiStep-horizontal {
      @media (max-width: 480px) {
      }
      .MuiStepLabel-horizontal {
        flex-direction: column;
        gap: 8px;
        .MuiStepLabel-iconContainer {
          color: #d9d9d9;
          @media (max-width: 480px) {
            padding: 0;
          }
          svg {
            width: 25px;
            height: 25px;
            color: #d9d9d9;
          }
        }

        .MuiStepLabel-label {
          font-size: 13px;
          color: #292929;
          font-weight: 600;
          font-family: 'Plus Jakarta Sans', sans-serif !important;
          @media (max-width: 480px) {
            text-align: center;
            font-size: 12px;
          }
        }
        .MuiTypography-caption {
          display: none;
        }
        .MuiStepLabel-iconContainer.Mui-active {
          color: #009a6c;
          svg {
            color: #009a6c;
          }
        }
        .MuiStepLabel-label.Mui-active {
          color: #009a6c;
        }
      }
    }
    .MuiStep-horizontal.Mui-completed {
      .MuiStepLabel-iconContainer {
        svg {
          color: #009a6c;
        }
      }
      .MuiStepLabel-label {
        color: #009a6c;
      }
    }
    .MuiStepConnector-horizontal {
      width: 100px;
      flex: inherit;
      .MuiStepConnector-line {
        height: 6px;
        background-color: #d9d9d9;
        border-radius: 14px;
        border: none;
      }
    }
    .MuiStepConnector-horizontal.Mui-active,
    .MuiStepConnector-horizontal.Mui-completed {
      .MuiStepConnector-line {
        background-color: #009a6c;
      }
    }
  }
  .step-title {
    margin: 30px 0 42px 0;
    h2 {
      margin-bottom: 8px;
      font-family: 'Plus Jakarta Sans', sans-serif !important;
    }
    p.title-agent-detail {
      color: #999999;
      margin: 0;
      font-weight: 600;
      span {
        font-weight: 600;
        display: inline-flex;
        button {
          font-size: 15px;
          padding: 0;
          margin-left: 8px;
          color: #999999;
        }
      }
    }
    .agent-selection {
      .MuiGrid-item {
        padding-top: 5px !important;
      }
      button {
        @media (max-width: 580px) {
          margin-left: 20px;
        }
      }
    }
  }
  .add-doc-btn-grp {
    .add-doc-btn {
      @media (max-width: 480px) {
        width: 100% !important;
      }
    }
  }
  .secondary-btn.btn.add-location-btn {
    width: 100% !important;
    min-height: 47px;
    border-radius: 8px !important;
    gap: 22px;
  }
  .btn {
    width: 196px !important;
  }
}
.stepper-wrap {
  .listing-form-footer {
    @media (max-width: 767px) {
      flex-wrap: wrap;
      gap: 16px;
    }
    button {
      @media (max-width: 480px) {
        width: 100% !important;
      }
    }
    .btn-group {
      @media (max-width: 767px) {
        flex-wrap: wrap;
        gap: 8px;
        width: 100%;
      }
    }
    .MuiBox-root {
      @media (max-width: 700px) {
        display: none;
      }
    }
  }
}
