// Campaigns Listing Styles //
.campaign-list-wrap {
  .campaign-list {
    transition: all ease 0.3s;
    .campaign-list-card {
      transition: all ease 0.3s;
      @media (max-width: 767px) {
        padding: 16px;
      }
      .intro {
        h4 {
          font-size: 14px !important;
          font-weight: 600 !important;
        }
      }
      .detail {
        .MuiGrid-container {
          @media (max-width: 767px) {
            align-items: flex-start;
          }
        }
        p {
          font-weight: 600;
        }
        span {
          font-size: 12px;
          font-weight: 400;
          color: #999999;
        }
        hr {
          @media (max-width: 768px) {
            display: none;
          }
        }
        .MuiGrid-grid-xs-true {
          @media (max-width: 768px) {
            padding-left: 0;
            padding-right: 16px;
          }
        }
        .data-wrapper {
          @media (max-width: 480px) {
            gap: 8px;
          }
          div {
            @media (max-width: 480px) {
              width: 100%;
              flex-basis: inherit;
            }
          }
        }
      }

      span {
        font-size: 12px;
        font-weight: 400;
        color: #999999;
        margin: 0;
      }
      .MuiChip-filled {
        background-color: #009a6c;
        color: #fff;
        border-radius: 4px;
        width: 80px;
        height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          font-size: 10px;
          color: #fff;
          margin: 0;
        }
      }
      .MuiPaper-root.MuiPaper-rounded {
        border-radius: 4px !important;
        box-shadow: none !important;
      }
      .table-wrapper.campaign-stats-list {
        tbody {
          tr {
            td {
              .clicks-value {
                span {
                  margin-top: 10p;
                }
              }
            }
          }
        }
      }
    }
    .campaign-list-card.compact-data {
      .primary-btn {
        @media (max-width: 991px) {
          height: 40px;
          width: 100%;
        }
      }
    }
    .campaign-list-card.expand-data {
      .detail {
        @media (max-width: 767px) {
          margin-top: 16px;
          margin-left: 16px;
        }
        .MuiGrid-grid-xs-4 {
          @media (max-width: 767px) {
            padding: 0px 8px;
          }
        }
        div {
          @media (max-width: 480px) {
            gap: 8px;
          }
          .MuiGrid-root {
            @media (max-width: 480px) {
              width: 100%;
              flex-basis: inherit;
              max-width: 100%;
            }
          }
        }
      }
      .campaign-info-card {
        .info-card {
          border-color: #d9d9d9;
          border-radius: 5px;
          background-color: #f4f4f4;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          text-align: center;
          gap: 8px;
          height: 120px;
          box-shadow: none !important;
          @media (max-width: 767px) {
            padding: 8px;
          }
          p {
            font-size: 26px;
            color: #2871ff;
            font-weight: 700;
            margin-bottom: 4px;
            @media (max-width: 767px) {
              font-size: 18px;
            }
          }
          span {
            font-size: 12px;
            font-weight: 400;
            color: #999999;
            margin: 0;
          }
        }
      }
      .btn-wrap {
        @media (max-width: 767px) {
          flex-wrap: wrap;
          width: 100%;
        }
        button {
          @media (max-width: 767px) {
            width: 48%;
            height: 40px;
          }
          @media (max-width: 374px) {
            font-size: 12px;
          }
        }
        button.MuiButton-outlinedPrimary {
          @media (max-width: 767px) {
            margin-left: 8px !important;
          }
        }
      }
    }
  }
  .campaign-list-card.expand-data.campaign-stats-list {
    @media (max-width: 767px) {
      padding: 16px !important;
    }
    h4 {
      @media (max-width: 767px) {
        font-size: 15px !important;
      }
    }
  }
}
.table-wrapper.campaign-stats-list {
  tbody {
    tr {
      td {
        .clicks-value {
          span {
            margin-top: 5px;
          }
          span.red {
            svg {
              color: #d60000;
            }
          }
          span.green {
            svg {
              color: #00ff0a;
            }
          }
          span.yellow {
            svg {
              color: #ffe600;
            }
          }
        }
      }
    }
  }
}
// Campaigns Listing Styles END //

.email-campaign-list-wrapper {
  .email-card {
    background-color: #eee;
    padding-bottom: 20px;
    border-radius: 6px;
    .email-campaign-name {
      p {
        font-weight: 600;
        margin-bottom: 8px;
        padding-bottom: 4px;
        border-bottom: 1px solid #383838;
      }
      span {
        font-size: 12px;
        font-weight: 400;
        color: #999999;
        margin: 0;
      }
    }
  }
}
.email-preview-area {
  button {
    width: 100% !important;
  }
  img {
    width: 100%;
  }
}
.photo-selection-preview-area {
  text-align: center;
}
.photoselection-list {
  .photo-list {
    background-color: #eeeeee;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 16px;
    height: 400px;
    overflow-y: auto;
    .img-wrap {
      width: 31.33%;
      display: flex;
      img {
        width: 100%;
      }
      @media (min-width: 992px) and (max-width: 1024px) {
        width: 30.33%;
      }
      @media (max-width: 400px) {
        width: 47%;
      }
    }
  }
  button {
    width: 100% !important;
  }
}

.email-template-area {
  border: 1px solid #d8d8d8;
  padding: 16px 24px;
  width: 74%;
  margin: 0 auto;
  @media (max-width: 1470px) {
    width: 100%;
  }
  @media (max-width: 767px) {
    padding: 16px;
  }
  .custome-dropzone {
    .MuiBox-root {
      width: 100%;
      .dropzone {
        height: 230px;
        svg {
          width: 45px;
          height: 45px;
        }
      }
    }
  }
  .other-data {
    h4 {
      margin-bottom: 12px;
      font-size: 16px;
    }
    .primary-btn {
      width: 100% !important;
      background-color: #333 !important;
    }
  }
  .agent-info-wrap {
    flex-wrap: inherit;
    @media (max-width: 767px) {
      flex-wrap: wrap;
    }
    .agent-picture {
      width: 25%;
      @media (max-width: 767px) {
        width: 100%;
      }
    }
    .agent-info {
      width: 75%;
      @media (max-width: 991px) {
        width: 100%;
      }
      @media (max-width: 767px) {
        margin: 16px 0 0 0;
        width: 100%;
      }
      h3 {
        margin-bottom: 12px;
        font-size: 18px !important;
        padding-bottom: 4px;
        border-bottom: 1px solid #333;
      }
      p {
        margin-bottom: 4px;
        font-weight: 500;
      }
      span {
        font-size: 9px;
        font-weight: 500;
        margin-top: 4px;
      }
      span.link-url {
        @media (max-width: 475px) {
          word-break: break-all;
        }
      }
    }
  }
  .email-template {
    h3.MuiTypography-h3 {
      @media (max-width: 600px) {
        margin: 16px 0 0 0;
      }
    }
  }
}
